<div class="main users-edit">
  <div class="container">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_with model: @user, local: true do |f| %>
         <%= f.label :名前 %>
          <%= f.text_field :name %>

          <%= f.label :email %>
          <%= f.email_field :email %>

          <%= f.label :性別 %><br>
          <%= f.select :sex, {男: "male", 女: "female"} %><br>

          <%= f.label :年齢 %>
          <%= f.number_field :age, in: 10..100 %>

          <%= f.submit "変更する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
